/* General */

body {
    font-family: "Century Gothic", open-sans, sans-serif;
}

body {
    margin: 0 2.2em;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

/* header */

header img {
    width: 4em;
    height: 4em;
    margin: 1em
}

.logoLarge {
    height: auto;
    width: 30rem;
}

@media only screen and (max-width: 650px) {
    .logoLarge {
        width: 20rem;
    }
}

header div {
    display: flex;
    justify-content: space-between;
}

header ul {
    margin-top: 2em;
}

header ul li {
    display: inline;
    margin-left: 1em;
    font-size: 1.5em;
}

header ul li a:hover {
    cursor: pointer;
    color: #D2B921;
}

header > div:first-of-type p {
    font-size: 2.7em;
}

header > div:last-of-type {
    display: block;
    margin: 0 auto;
    padding-top: 15em;
    padding-bottom: 10em;
    text-align: center;

    background-image: url("../images/notebook.png");
    background-repeat: no-repeat;
    background-position: center;
}

header > div:last-of-type h1 {
    font-size: 6em;

}

header > div:last-of-type p {
    font-size: 2.6em;
    color: #D2B921;
    padding-bottom: 6em;

    background-image: url("../images/scrollDown.png");
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 4.5em;
}

/* Header mobile adjustments */

i {
    display: none;
    visibility: hidden;

    color: #D2B921;
    margin: 0.6em 0.3em 0 0;

    position: absolute;
    display: block;
    top: 0;
    right: 0;
}

@media only screen and (max-width: 450px) {
    body {
        margin: 0 1em;
    }

    header ul {
        display: none;
        position: relative;
        text-align: center;

        top: 5em;
        left: -8.4em;

        margin-bottom: 6em;
    }

    header ul li {
        display: block;
    }

    i {
        visibility: visible;
    }
}

/* main content */

main {
    width: 87%;
    margin: 0 auto;
}

h2 {
    color: #D2B921;
    font-weight: normal;
    font-size: 2em;
}

article {
    margin-bottom: 5em;
}

article div {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
}

article p {
    background-color: #F2F2F2;
    padding: 1em;
    border-radius: 1em;
    width: 70%;
    font-size: 1.1em;
}

main > article:first-of-type img {
    width: 15em;
    display: inline-block;
    margin: 0 auto;
    padding-left: 2em;
}

main > article:nth-of-type(2) svg {
    width: 1.4em;
    vertical-align: middle;
}

main > article:nth-of-type(2) img {
    width: 20em;
    display: inline-block;
}

main > article:nth-of-type(2) ul {
    display: flex;
    flex-flow: wrap row;
    width: 100%;
    margin-left: 20em;
}

main > article:nth-of-type(2) ul li {
    display: block;
    margin-left: 12%;
}
main > article:nth-of-type(2) h2 {
    text-align: right;
}

main > article:last-of-type img {
    width: 15em;
}

@media only screen and (max-width: 1450px) {
    article h2, main > article:nth-of-type(2) h2 {
        text-align: center;
    }

    main > article:nth-of-type(2) ul {
        display: block;
        width: 15em;
        margin-bottom: 2em;
        margin-left: auto;
        margin-right: auto;
    }

    main > article:nth-of-type(2) ul li {
        margin: 0;
    }

    article p {
        width: 100%;
    }

    article img {
        margin: 0 auto;
    }
}

/* footer */

footer {
    background-color: #D8D8D8;
    padding: 0.1em;
    margin-bottom: 1em;
    margin-top: 4em;
    color: white;

    line-height: 2em;
}

footer a {
    color: white;
}

footer ul {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
}

footer img {
    width: 3em;
    vertical-align: middle;
}